@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-orange: #FF6B35;
  --color-navy: #4E657D;
  --color-green: #B3E06C;
  --color-white: #FAFAFA;
  --color-gray: #444444;
  --color-alert: #fb2c36;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInOut {
  0% {
    right: -500px;
    opacity: 1;
  }
  10% {
    right: 20px;
    opacity: 1;
  }
  90% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: -500px;
    opacity: 1;
  }
}

.alert-box {
  position: fixed;
  top: 50px;
  right: -500px;
  animation: slideInOut 4s ease-in-out forwards;
}